body {
color: #000;
font-size:10pt;
background:#fff;
margin: 0px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* General Settings
----------------------------------*/
img {border: 0;}


/* Structure Settings
-----------------------------------------*/

#ltop1 {position:relative; width:100%; height:90px; text-align:right;}
#lleft {width:130px;}

#lmidlc {width:682px;}
#lleft, #lmid1, #lmidlc {float: left;}
 
#lmid1 {width:552px;}

#lmid2 div {float: left;}
#lmid2 div.headline {width: 100%;}
#lmid2 div.lbox {width: 280px; padding-left: 29px; padding-bottom: 15px;}
#lmid2 div.rbox {width: 196px; padding-left: 10px; padding-bottom: 15px;}
#lmid2 div.wholebox {width: 494px; padding-left: 29px; padding-bottom: 15px;}
#lmid2 div.wholebox div {float:none;}

div.lbox ul, div.rbox ul {margin: 0 0 0 15px; padding: 0 15px 0 0;}

#lmenu {width: 116px; margin-bottom: 10px; line-height: 14px;}
#lmenu a.m_forum, #lmenu a.m_impressum {margin-top: 23px;}

/* Font Settings, Colors and Backgrounds
-----------------------------------------*/
.headline {display: block; text-align: center; padding-bottom: 3px;}
.headline img {width: 468px; height: 60px;}
.subhead { width: 160px; height: 15px; display: block; margin-bottom: 19px;}

#ltop1 {background: url(img/m.gif) repeat-x;}
#lmid1 {background: url(img/rand.gif) repeat-y}
#lmid2 div {font-size:9pt; line-height: 140%;}

#lfooter1 {background: url(img/btm.gif) repeat-x 0 15px;}
#lfooter2 {font-size:8pt; color:#666; text-align:center;}

a {text-decoration: none; font-weight:bold;}
a, a:visited {color: #71D000;}
a:active {color: #FF8000;}
a:hover {color: #00BC00;}
a.clink {font-weight:normal;}
a.clink, a:visited.clink, a:active.clink {color:#666;}
a:hover.clink {color:#00C000;}

/* Schriftgroessen */
.f16 {font-size:16pt;}
.f135 {font-size:13.5pt;}
.f10 {font-size:10pt;}
.f9 {font-size:9pt; line-height:140%; font-weight:normal;}
.f8 {font-size:8pt;}
.f75 {font-size:7.5pt;}
.f7 {font-size:7pt;}
.f6 {font-size:6pt;}

/* e Schriftfarbe fuer Fehlermeldung Login/Anmeldung */
.e {color:#FF8000;}

/* Schriftfarbe fuer Inaktive Links */
.c {color:#C0C0C0;}
.c0 {color:#000000;}
.c1 {color:#71D000;}
.c2 {color:#FF8000;}
.c3 {color:#228B22;}
.c4 {color:#F2C700;}
.c5 {color:#FF0000;}
.c6 {color:#B500A3;}

/* Dicke Schrift */
.b {font-weight:bold}

/* Duenne Schrift */
.t {font-weight:normal;}

/*opacity:0.4;            /*      W3C-konform     */
/*-moz-opacity:0.4;       /*      Mozilla und Derivate    */
/*FILTER:progid:DXImageTransform.Microsoft.Alpha(opacity=40); /*IE*/
}
